header nav {
    margin-bottom: 0px !important;
}

section {
    min-width: 1000px;
    background: #ebebeb;
    padding: 0 calc((100% - 1000px) / 2);
}

.mt-ad {

    width: 100%;
    height: 500px;

    background: url('/app/assets/images/background.jpg');
    background-repeat: no-repeat;
}

.mt-ad > div {
    /*background: url('/app/assets/images/background.jpg');*/
    /*background-size: 100% auto;*/
    /*background-repeat: no-repeat;*/
    width: 100%;
    position: relative;
}

.mt-ad .container img:first-child {
    display: block;
    float: left;
    margin: 40px 0 0 20px;
}

.mt-ad .btgroup {
    display: block;
    float: left;
    margin: 100px 0 0 40px;
    width: 215px;
    color: #ffffff;

}

.mt-ad .btn {
    border-radius: 0 !important;
    margin: 20px 0;
    border: none;
    color: #ffffff;
}

.mt-ad .btn:first-child {
    background: rgb(231, 32, 93);
}

.mt-ad .btn:nth-child(2) {
    background: rgb(64, 93, 150);
}

.mt-ad .btn:last-child {
    background: rgb(150, 203, 13);
}

.mt-ad .qrcode {
    position: absolute;
    top: 10px;
    right: 10px;
}

.mt-introduce {
    height: 485px;
}

.int-content {

}
.int-content .ctt-content
{
    float: left;
}
.int-content .ctt-bar
{
    background: url('/app/assets/images/5.png');
    background-repeat: no-repeat;
    height: 80px;
    background-size: contain;
    width: 100%;
    display: block;
    margin: 20px 0;
}

.int-content .thumbnail {
    float: left;
    width: 350px;
    height: 235px;
    position: relative;
    margin-left: 60px;
    padding: 0;
    border: none;
}

.int-content .thumbnail:before {
    content: "";
    background: url('/app/assets/images/crown.png');
    background-size: 35px 35px;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    display: inline-block;
    position: absolute;
}

.int-content .thumbnail > img {
    width: 100%;
    height: 100%;
    margin: 0;

}

.int-content .thumbnail:after {
    content: "";
    background: url('/app/assets/images/like.png');
    width: 62px;
    height: 65px;
    display: inline-block;
    position: absolute;
    bottom: -32px;
    right: 31px;
}

.int-content .thumbnail p {
    height: 40px;
    margin: 0;
    line-height: 40px;
    text-indent: 1em;

}

/*.int-content .thumbnail p:first-child {*/
    /*background: #ffffff;*/
    /*color: #000000;*/
/*}*/
.int-content .ctt-title
{
    background: #ffffff;
    color: #000000;
}
.int-content .thumbnail p:last-child {
    background: #f03b70;
    color: #ffffff;
}

.int-content .thumbnail i {
    background: url('/app/assets/images/love.png');
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}
.int-content .detialimg
{
    float: left;
    margin-left: 40px;

}
.detialimg img

{
   margin-top: -50px;
}
.mt-content .thumbnail
{
    padding: 0;
    border: none;
    border-radius: 0;
    width: 325px;
    position: relative;
}
.mt-content .thumbnail > img

{
    height: 219px;
}
.mt-content .thumbnail p
{
    height: 35px;
    margin: 0;
    line-height: 35px;
    text-indent: 1em;
    background: #f03b70;
    color: #ffffff;
}
.mt-content .thumbnail .cl-title
{
    background: #ffffff;
    color: #000000;
}
.mt-content .thumbnail i
{
    background: url('/app/assets/images/love.png');
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}
.mt-content .thumbnail:after
{
    content: "";
    background: url('/app/assets/images/like.png');
    width: 42px;
    background-size: cover;
    height: 44px;
    display: inline-block;
    position: absolute;
    bottom: 48px;
    right: 25px;
}
.ui-login
{
    background: url('/app/assets/images/login-background.png');
    background-size:cover ;
    width: 650px;
    height: 346px;
}
.ui-login label
{
    border: none;
    background: none;
}
.ui-login > div
{
    float: left;
    width: 50%;
}
.ui-login .input-group
{
    width: 100%;
}

