<link rel="import" href="../public/header/index.html?__inline"/>

<!--顶部广告-->
<section class="mt-ad">

    <div class="container">

        <img src="/app/assets/images/1.png" alt="123">

        <div class="btn-group-vertical btn-group-md btgroup">
            <a class="btn" href="#">我要报名</a>
            <a class="btn" href="#">我要投票</a>
            <a class="btn" href="#">查看活动规则</a>
        </div>
        <img class="qrcode" src="/app/assets/images/qrcode.png" alt="erweima">
    </div>

</section>
<!--中部介绍-->
<section class="mt-introduce">
    <div class="container-fluid int-content">
        <i class="ctt-bar"></i>

        <div class="ctt-content">
            <div class="thumbnail">
                <img src="/app/assets/images/test.png" alt="...">

                <p class="ctt-title">最爱新加坡了</p>

                <P>
                    <i></i>101537
                </P>
            </div>

            <div class="detialimg">
                <img src="/app/assets/images/6.png" alt="detail...">
            </div>

        </div>

    </div>

</section>
<!--内容-->
<section class="mt-content">
    <div class="container-fluid ctt-list">
        <div class="row">
            <article class="col-lg-4 col-sm-4 col-xs-4 col-md-4">

                <div class="thumbnail">
                    <img src="/app/assets/images/test.png" alt="...">

                    <p class="cl-title">最爱新加坡了</p>

                    <P>
                        <i></i>101537
                    </P>
                </div>
            </article>
            <article class="col-lg-4 col-sm-4 col-xs-4 col-md-4">

                <div class="thumbnail">
                    <img src="/app/assets/images/test.png" alt="...">

                    <p class="cl-title">最爱新加坡了</p>

                    <P>
                        <i></i>101537
                    </P>
                </div>
            </article>
            <article class="col-lg-4 col-sm-4 col-xs-4 col-md-4">

                <div class="thumbnail">
                    <img src="/app/assets/images/test.png" alt="...">

                    <p class="cl-title">最爱新加坡了</p>

                    <P>
                        <i></i>101537
                    </P>
                </div>
            </article>


        </div>
    </div>
</section>
<!--底部合作-->
<section class="mt-cooperation">
    <img src="/app/assets/images/footer.png" alt="footer">

</section>


<link rel="import" href="../public/footer/index.html?__inline"/>

<script>
    var home = require("tc/home/index");
    home.init();
</script>